@font-face {
    font-family: source-sans-pro;
    src: url(../fonts/ssp-light.woff);
    font-weight: 300;
}
@font-face {
    font-family: source-sans-pro;
    src: url(../fonts/ssp-regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: source-sans-pro;
    src: url(../fonts/ssp-extralight.woff);
    font-weight: 200;
}
@font-face {
    font-family: source-code-pro;
    src: url(../fonts/scp-regular.woff);
    font-weigth: 400;
}

a,
button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* Disable selection/copy in UIWebView */
}

/* new */

input.holo[type='text'], input.holo[type='password'] {
	/* You can set width to whatever you like */
    width: 100%;
	font-size: 16px;
	margin: 0;
	padding: 8px 8px 6px 8px;
	position: relative;
	display: block;
	outline: none;
	border: none;
    color: #000;
    font-family: source-code-pro;
	background: bottom left linear-gradient(#000, #000) no-repeat, bottom center linear-gradient(#000, #000) repeat-x, bottom right linear-gradient(#000, #000) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
    border-radius: 0;
}

::-webkit-input-placeholder {
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}


hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ecf0f1;
    margin: 1em 0; padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.scroll, .scroll-y, .scroll-x {
    -webkit-overflow-scrolling: touch;
}
.scroll > *, .scroll-y > *, .scroll-x > * {
    -webkit-transform : translateZ(0);
}
.scroll { overflow: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x { overflow-x: auto; }

.m-t-m {
    margin-top: 10px;
}

.m-b-m {
    margin-bottom: 10px;
}

.search {
    margin-top: 18px;
    margin-bottom: 30px;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    font-family: source-sans-pro, "Helvetica Neue", sans-serif;
}
.message {
    margin-top: 12px;
}
.full-column {
    padding-left: 0;
    padding-right: 0;
}
.category-list > ul,
.meeting-list > ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
}
.category-list > ul:first-child,
.meeting-list > ul:first-child  {
    border-top: solid 1px #c0c0c0;
}

.category-list > ul > li,
.meeting-list > ul > li {
    border-bottom: solid 1px #c0c0c0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

}

.profile-list ul {
    list-style: none;
    margin: 0;
}

.meeting-list h3 {
    padding: 8px 12px;
    background: lightgray;
}

.meeting-list li:last-child  {
    border-bottom: none;
}